<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toy store</title>
    <link rel="stylesheet" href="index.css">
    <link rel="shortcut icon" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fngoisao.net%2Fgia-dinh%2Fbe-gai-meu-mao-chup-anh-voi-cuc-hoa-mi-4008697.html&psig=AOvVaw39KMiRtHfvZ0YYoaoCRNKw&ust=1592875606890000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKiX5JuilOoCFQAAAAAdAAAAABAD" type="image/x-icon">
</head>

<body>

    <div class="container">
        <h1 class="title"><u><i>Update Product</i></u> </h1>
        <div class="box-input">
            <form action="doUpdate" method="POST">
                <input type="hidden" class="text" name="id" value="{{products._id}}">
                <input class="text" type="text" name="txtName" placeholder="Name" value="{{products.name}}">
                <input class="text" type="text" name="txtPrice" placeholder="Price" value="{{products.price}}">
                <input class="text" type="text" name="txtColor" placeholder="Color" value="{{products.color}}">
                <input class="submit" type="submit" value="Update product">
            </form>
        </div>
    </div>
</body>

</html>